@font-face { 
  font-family:wsr; 
  src:url("wsr.woff2"); 
}

html, body { 
  font-size: 15px; 
  font-family: "wsr", sans-serif; 
  background: #ffffff;
  max-width: 78ch;
}

a:link { 
  text-decoration: underline 1px solid black; 
}
a:visited { 
  text-decoration: underline 1px solid black; 
}
a:hover { 
  color:white; text-decoration: underline; background-color: black; 
}
a:active { 
  color:white; text-decoration: underline; background-color: black; 
}

pre {
  font-size: 13px;
  background: #eee;
  padding: 5px;
}

hr { 
  margin-bottom: 2px;
  margin-top: 2px;
}

h5 {
  padding-top: 10px;
}

.banner { 
  float: left; 
  margin-right: 20px; 
}

.header-img {
  border: 2px solid black;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}

.content { 
  padding-left: 3px;
  text-align: justify;
}

.path { 
  font-size: 13px; 
  color: #444; 
  background: #eee; 
  padding-left: 3px; 
  padding-right: 3px; 
}
  
.files { 
  padding: 3px; 
}

.date { 
  font-size: 13px; 
  color: #444; 
}

.code {
  border: 1px dashed;
}

.footer { 
  font-size: 11px; 
  color: #444; 
  padding-left: 3px;
  padding-bottom: 5px;
}